/*

  STYLES

  Add custom styles here.

*/

.container {
  background-image: url("../images/constellations.svg"), linear-gradient(0deg, var(--navy), var(--dark-purple));
  background-size: cover, cover;
  background-position: top center, center;
}
